.wrapper{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: #643a7a;
}
.CircularProgressbar{
  width: 200px;
}
.circle-val{
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}
.content{
  width: 400px;
  height: 400px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
  background: #413951;
  text-align: center;
}
.content h2{
  color: #fff;
  font-weight: 500;
}
.circle-big{
  position: relative;
  /* width: 114px;
  height: 114px;
  margin: 0 auto; */
  /* margin: 30px auto 25px auto; */
}
.circle-big svg {
  width: 200px;
  height: 200px;
}
.circle-big .bg {
  fill: none;
  stroke-width: 10px;
  stroke: #343035;
}
.circle-big .progress {
          fill: none;
          stroke-width: 10px;
          stroke: #9a0fe0;
          stroke-linecap: round;
          stroke-dasharray:30;
          stroke-dashoffset: 0;
          transform: rotate(90deg);
          transform-origin: 50% 50%;
          animation: big 1.5s ease-in-out;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
}
.circle-big .text {
  position: absolute;
  width: 100%;
  top: 65px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  line-height: 22px;
}

.circle-big .text .small {
  font-size: 14px;
  color: #fff;
}


@keyframes big {
  from {
    stroke-dashoffset: 0.56;
  }
  to {
    stroke-dashoffset: 200;
  }
}